<h2>Listing Incidents</h2>

<span>
    <%= form_for @conn, incident_path(@conn, :index), [method: :get], fn f -> %>
    <label>
        search crime type: <%= search_input f, :query %>
    </label>
    <%= submit "Search" %>
    <% end %>
</span>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_date_link(@conn, @extra) %></th>
      <th>Crime type</th>
      <th>Falls Within</th>
      <th>Location</th>
      <th>LSOA name</th>
      <th>Last outcome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for incident <- @incidents do %>
    <tr>
      <td><%= incident.date %></td>
      <td><%= incident.crime_type %></td>
      <td><%= incident.falls_within %></td>
      <td><%= incident.location %></td>
      <td><%= incident.lsoa_name %></td>
      <td><%= incident.last_outcome %></td>

      <td class="text-right">
        <span><%= link "Show details", to: incident_path(@conn, :show, incident), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span> <%= pagination_links @page, @extra %> </span>
