<h2>Show Incident</h2>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @incident.date %>
  </li>

  <li>
    <strong>Crime Id:</strong>
    <%= @incident.crime_id %>
  </li>

  <li>
    <strong>Reported By:</strong>
    <%= @incident.reported_by %>
  </li>

  <li>
    <strong>Falls Within:</strong>
    <%= @incident.falls_within %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @incident.longitude %>
  </li>

  <li>
    <strong>Latitude:</strong>
    <%= @incident.latitude %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @incident.location %>
  </li>

  <li>
    <strong>LSOA name:</strong>
    <%= @incident.lsoa_name %>
  </li>
  <li>
    <strong>LSOA code:</strong>
    <%= @incident.lsoa_code %>
  </li>

  <li>
    <strong>Crime type:</strong>
    <%= @incident.crime_type %>
  </li>

  <li>
    <strong>Last outcome:</strong>
    <%= @incident.last_outcome %>
  </li>

  <li>
    <strong>Context:</strong>
    <%= @incident.context %>
  </li>

</ul>

<span><%= link "Back", to: incident_path(@conn, :index) %></span>
